.card {
  --card-bg-color: hsl(0, 0%, 96%);
  --image-bg-color: hsl(0, 0%, 90%);
  --content-text-color: hsl(0, 0%, 43%);
  --stats-font-size: 14px;
  --poke-name-font-size: 16px;
  --poke-type-font-size: 14px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
  height: 430px;
  background-color: var(--card-bg-color);
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 1.5em;
  /* padding: 10px; */
}

.card-content-border {
  border: 7px solid var(--card-bg-color);
}

.card-image {
  /* flex: none; */
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 60%;
  justify-content: center;
  background-color: var(--image-bg-color);
}

.card-image img {
  box-sizing: border-box;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 7px;
  object-fit: contain;
}

.poketitle {
  display: flex;
  align-items: center;
}

.poke-name {
  flex-grow: 1;
  color: var(--content-text-color);
  font-size: var(--poke-name-font-size);
}

.poke-type {
  flex: none;
  margin: 0 3px;
  border-radius: 4px;
  padding: 5px;
  color: white;
  font-size: var(--poke-type-font-size);
}

.content-color {
  color: var(--content-text-color);
}

.card table {
  width: 100%;
  border-collapse: collapse;
}

.card table tr:not(:last-child) {
  border-bottom: 1px solid var(--content-text-color);
}

.card table td {
  padding: 5px;
  color: var(--content-text-color);
}

.poke-stats {
  font-size: var(--stats-font-size);
  font-weight: 700;
  text-align: left;
}

.poke-stats-value {
  font-size: var(--stats-font-size);
  text-align: right;
}
